@use "styles/mixin" as *;
.swiper {
  margin-bottom: 120px;
  overflow: initial !important;
  display: flex;
  height: 100%;
  @include medium {
    margin-bottom: 80px;
  }
  @include small {
    margin-bottom: 60px;
  }

  .slide {
    padding: 32px 0 24px;
    @include medium {

    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    //@include small {
    //  display: none;
    //}
    button {
      outline: none;
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include medium {
        width: 40px;
        height: 40px;
      }

      &:hover,
      svg:hover {
        background-color: var(--color-hover);
        border-color: var(--color-hover);
      }
    }

    .disabled {
      background-color: var(--color-gray2);
      border-color: var(--color-gray2);

      &:hover,
      svg:hover {
        background-color: var(--color-gray2);
        border-color: var(--color-gray2);
      }
    }

    &_right {
      transform: rotate(180deg);
    }
  }
}
