@use "styles/mixin" as *;

.wrapper {
  margin: 32px 0 120px;
  @include medium {
    margin: 40px 0 80px;
  }
  @include small-medium {
    margin: 24px 0 60px;
  }

  .cardWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 16px;
    justify-items: center;

    @include medium {
      grid-template-columns: 1fr;
    }
  }
}
