@use "styles/mixin.scss" as *;

.block {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 40px 0;
  margin-bottom: 120px;
  @include medium {
    margin-bottom: 80px;
  }
  @include small {
    margin-bottom: 60px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 32px;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      color: var(--color-blue);
    }
    a {
      @include small {
        display: none;
      }
    }
  }
  .link {
    display: none;
    @include small {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 8px 0;
      gap: 10px;
    }
  }
}
